/* Navbar stuff */
.navbar {
    background-color: rgb(48, 26, 62)
}

.navbar-dark {
    background-color: rgb(48, 26, 62)
}

.bg {
    background-color: rgb(48, 26, 62)
}
.nav-link {
    color:white;
}

.navbar-brand {
    background-color: rgb(131, 51, 177)
}

/* Container */
.container {
    background-color: white;
}

/* Body */
body {
    background-color:silver
}
/* Pseudoclasses */
a:hover {
    color:silver;
}

/* Images */
img {
    margin-right: 10px;
}

/* IDs */
#aboutme {
    padding-top: ;
}

