/* Navbar stuff */
.nav-link {
    color:white;
}

.navbar-brand {

}

/* Pseudoclasses */
a:hover {
    color:silver;
}

/* Images */
img {
    margin-right: 10px;
}

/* IDs */
#aboutme {
    padding-top: ;
}

