.nav-link {
    color:white;
}

a:hover {
    color:silver;
}

/* Experimental */

/* .container {
    float: inline-start;
    width: 80%;
    margin-top: 20px;
    margin-left: 17px;
}

#aboutme {
    margin-top: 40px;
} */
